* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}

body {
  background: #aec5db;
  font-family: sans-serif;
  margin-top: 5vw;
  text-align: center;
}

h1 {
  color: #2b5069;
  font-size: 60px;
}

#botao-gerar {
  font-size: 15px;
  margin-top: 50px;
  margin-right: 15px;
  font-family: Arial;
  font-size: 30px;
  width: 200px;
  height: 50px;
  border-width: 1px;
  color: #2b5069;
  border: 2px solid #2b5069;
  font-weight: bold;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
}

/* #botao-gerar:hover {
  cursor: pointer;
  color: #aec5db;
  background: #2b5069;
} */

#botao-limpar {
  font-size: 15px;
  margin-top: 50px;
  margin-left: 15px;
  font-family: Arial;
  font-size: 30px;
  width: 200px;
  height: 50px;
  border-width: 1px;
  color: #2b5069;
  border: 2px solid #2b5069;
  font-weight: bold;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
}

/* #botao-limpar:hover {
  cursor: pointer;
  color: #aec5db;
  border: 2px solid #ff0000;
  background: #ff0000;
} */

.area-dezenas {
  margin-top: 150px;
  font-size: 80px;
}

span {
  margin-top: 500px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 125px;
  padding: 30px;
  background-color: #fff;
  color: #aec5db;
  border-radius: 100%;
}
